table,
th,
td {
  border: 1px solid white;

  padding: 30px;
}
table {
  border-spacing: 15px;
}

tr:nth-child(even) {
  background-color: #62b5d1;
}
tr:nth-child(odd) {
  background-color: #6495ed;
}

body {
  color: white;
  font-family: Verdana;
}
h2 {
  margin: auto;
  width: 60%;
  text-align: center;
  color: black;
  padding: 70px;
}
.text1 {
  color: black;
  padding: 50px;
  font-family: Verdana;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #1e56a0d5;
  border: #1e56a0d2 1px solid;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  justify-items: center;
  align-items: center;
  /* justify-content: center; */
}

.btn {
  font-size: 20px;
  color: #fff;
  margin: 25px auto;
  background-color: #1e56a0;
  border: 1px solid #1e56a0;
  border-radius: 5px;
  padding: 8px 16px;
  transition: all 0.3s;
  justify-self: start;
}

.salles-dispo,
.ccs-dispo,
.amphis-dispo,
.salles-occupe,
.ccs-occupe,
.amphis-occupe {
  font-size: 38px;
}

.loader {
  position: fixed;
  width: 247px;
  top: 35%;
  left: 43%;
}

.hidden {
  display: none;
}
