table,
th,
td {
  border: 1px solid white;

  padding: 30px;
}
table {
  border-spacing: 15px;
}

tr:nth-child(even) {
  background-color: #62b5d1;
}
tr:nth-child(odd) {
  background-color: #6495ed;
}

body {
  color: white;
  font-family: Verdana;
}
h2 {
  margin: auto;
  width: 60%;
  text-align: center;
  color: black;
  padding: 70px;
}
.text1 {
  color: black;
  padding: 50px;
  font-family: Verdana;
  text-align: center;
}