/* 64ac15 */
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #e3e3e3;
}
h4 {
  color: #1e549f;
}

input,
select option,
select {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #c7c5c5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: #145cc0;
}
input:focus + .input-icon i {
  color: #1e549f;
}
input:focus + .input-icon:after {
  border-right-color: #1e549f;
}
input[type="radio"] {
  display: none;
}

select {
  display: inline-block;
  text-align: center;
  border-radius: 0;
}

input:checked + label:before,
select:focus,
select:active {
  background-color: #1e549f;
  color: #fff;
  border-color: #4d87d8;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}
input:checked + label:after {
  opacity: 1;
}
select {
  font-size: 15px;
  color: #838080;
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: #1e549f;
  color: #fff;
}
.input-group {
  margin-bottom: 1em;
  zoom: 1;
}
.input-group:before,
.input-group:after {
  content: "";
  display: table;
}
.input-group:after {
  clear: both;
}
.input-group-icon {
  position: relative;
}
.input-group-icon input {
  padding-left: 4.4em;
}
.input-group-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-group-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-group-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.container {
  max-width: 60em;
  padding: 3em 5em;
  display: flex;
  margin: 6em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgb(0 0 0 / 20%);
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.date,
.time {
  text-align: center;
  color: #838080;
  font-size: 15px;
}
.col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}

.btn-container {
  display: flex;
}

button {
  font-size: 20px;
  color: #fff;
  margin: 25px auto;
  background-color: #1e56a0;
  border: 1px solid #1e56a0;
  border-radius: 5px;
  padding: 8px 16px;
  /* font-weight: 600; */
  transition: all 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #1e56a0dc;
  border: #1e56a0dc 1px solid;
}

.loader {
  position: fixed;
  width: 247px;
  top: 35%;
  left: 43%;
}

.alert {
  font-family: "Roboto", sans-serif;
  width: 45%;
  padding: 10px 20px;
  background-color: #fa4033b9;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: larger;
  /* margin-left: 300px; */
  position: absolute;
  left: 28%;
  top: 42%;
  z-index: 9;
  text-align: center;
}

.alert button {
  padding: 1px;
  margin-bottom: -5px;
  margin-right: 10px;
  margin-top: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.inline {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: rgb(159, 194, 220);
  height: 60px;
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

.cont {
  padding: 5px;
  background-color: blue;
}
.reserver {
  position: relative;
  left: 255px;
}

.scroll-container {
  overflow-y: scroll;
}

.max {
  max-height: 300px;
}
.alert {
  font-family: "Roboto", sans-serif;
  width: 45%;
  padding: 10px 20px;
  background-color: #fa4033b9;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
  font-size: larger;

  position: fixed;
  left: 28%;
  top: 65%;
  z-index: 9;
  text-align: center;
}
.loader {
  position: fixed;
  width: 247px;
  top: 56%;
  left: 43%;
  z-index: 9;
}

.alert button {
  padding: 1px;
  margin-bottom: -5px;
  margin-right: 10px;
  margin-top: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
